
body{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: center center fixed;
	font-size: 15px;
	box-sizing:all;
}
.menu1{
	display: block;
	background-color: none;
	margin-top: 10px;
	width: 80px;
	margin-left: 20px;
	cursor: pointer;
}
.spn1{
	width: 40px;
	height:5px;
	margin-top: 5px;
	margin-left: 20px;
	background-color: white;
    display: block;
    cursor: pointer;

}
#menu-icon{
	display: none;
}

#menu-icon:checked ~ nav ul{
    left: 0%;
}

nav{
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	width: 100%;
	height: 100px;
	background-color:#34495e;
	margin-top: 5px;
	cursor: pointer;
}


nav ul{
     left: -100%;
	 display: flex;
	 flex-direction: row;
	 flex-flow: wrap;	 
	 list-style: none;
	 padding-left: 500px;
	 justify-content: space-between;
	 transition: all 2s ease;
}


nav ul li {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	padding: 25px;
	justify-content: space-between;
	font-size: 25px;
}

nav ul li{
	display: inline-block;
	margin:0 20px;
}

nav ul li a:hover{
	color:white;
	transition: all ease 0.5s;
}

nav ul li a{
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	justify-content: space-between;
	color:red;
	text-decoration: none;

}

.admin{
	margin: 15px 0 0;
	color:white;

}
.admin img{
	border-radius: 50%;
	box-shadow:0 0 0 1rem rgba(256,256,256, .3);
		margin: 1rem 0;
		margin-left:60px;
}

.admin-1{
	margin-top: -400px;
	margin-left: 650px;
	font-size: 30px;
	color:black;

}

.admin-1 h1{
	font-size: 50px;
	margin:10px 0px;
}

.admin-1 p{
	font-size: 25px;
}

.admin-1 p span{
	font-size: 30px;
    color:brown;
}

.admin-1 h1{
	color:#000080;
}

.share {
	width:100%;
	height:50px;
	display: flex;
	padding-bottom: : 100px;
	float: right;

}
.share ul{
display: flex;
flex-flow: wrap;
flex-direction: row;
list-style: none;
margin-left: 1100px;
margin-top:-65px; 
padding-left: 10px;
}
.share ul li {
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	padding-left: 10px;
}

button{
	width: 100px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	background-color:#fff;
	margin-left:800px;
	color:black;
	border-radius:30px;
	cursor: pointer;
	transition: transform .4s;
	box-shadow:0 0 5px white, 0 0 10px white, 0 0 15px white;
}

button:hover{
    text-decoration:none;
    border:2px solid transparent;
    border-radius:30px
}

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
 
.contact {
	min-height: 100%;
    background-color: transparent;
	justify-content: space-between;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 20px;
}

.contact-section{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-info{
	background-color:black;
	color:white;
	max-width: 100%;
	line-height: 30px;
	padding-left: 70px;
	font-size: 20px;
	margin-top: 320px
}

.contact h2{
	font-size:50px;
}

.contact-section form{
	background:rgba(256,256,256, .1);
	box-shadow: 0 1.1rem 2.1rem rgba(0,0,0,.2);
	border-radius: 1rem;
	display: flex;
	justify-content: space-between;
	padding:1.2rem 2.1rem;
	flex-wrap: wrap;
}

.contact-section form .box{
	background:rgba(256,256,256, .1);
	box-shadow: 0 1.1rem 2.1rem rgba(0,0,0,.2);
	border-radius:1rem;
	padding:0 2rem;
	margin:0.5rem 0;
	height:3rem;
	width:50%;
	font-size:2rem;
	color:white;
	text-transform: none;
}


.contact-section form .box::placeholder{
	text-transform:capitalize;
	color:purple;
	}

form .message{
		padding:1rem;
		height: 15re
}

.btn{
	color: white;
	background: #3a6cf4;
	display:block;
	font-size: 1.2rem;
	letter-spacing: 2px;
	cursor: pointer;
	border:none;
	width: 18%;
	text-transform: uppercase;
}
.btn:hover{
	text-decoration:none;
    border:2px ;
    border-radius:20px;
    background-attachment: fixed;
}







.portfolio h2 {
	font-size:3rem;
	padding-left:100px;
	color: blue;
}

.portfolio h2 span{
	color:white;
}


.portfolio .image-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.portfolio .image-container .box{
	width:23rem;
	margin: 1rem;
	border-radius: .6rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
	overflow: hidden;
	height: 14rem;
	position: relative;
	border:1.1rem solid;
	cursor: pointer;
}

.portfolio .image-container .box img{
	height: 100%;
	width:100%;
	object-fit: cover;
}


.portfolio .image-container .box:hover img{
    transform: scale(1.1);
}







.cv-box{
	width: 800px;
	height: 1000px;
	margin: 0;
	background-color: green;
	background-repeat: center fixed;
}

.box-outer{
	padding: 30px;
	position:center;
}

.box-a{
	background-color:white;
	width: 35%;
    float:left;
    height: 1000px;	
    display:center; 
}

.box-b{
	width:60%;
    float:left;
    padding-left:280px;
    display: center;
    margin-top:-980px;
}

.pp{
	width: 100%;
}
.content2{
	padding: 20px;
}

.skill h1{
	color: blue;
	font-weight: 300;
	text-transform: uppercase;
	padding:10px;
	text-align:center;
}
.skill p{
  color:black;
	font-weight: 300;
	text-align:center;
	font-size:1.4rem;
}

.contact-1 h2{
	color: blue;
	padding-top:10px;
	text-align: center;
}
.contact-1 p{
    text-align: center;
    font-size: 1rem;
    padding-top:8px;
}
.contact-1 a{
	text-align: center;
    padding-left:4px;
}

.experience hr{
	size:40px;
	color:yellow;
}

.box-b{
	
}










 @media only screen and (min-width: 768px) {

 }
















