
body{
	width: 100%;
	height: 100%;
	font-size: 15px;
	box-sizing:border-box;
}

.screen1{
	background: url(111.jpg);	/*(HipWallpaper, n.d.)*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;

}
.screen2{
	width: 100%;
	height: 100%;
	background: url(4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
.screen3{
	background: url(123.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

}

.screen4{
	background-color:burlywood;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

}

.menu1{
	display: block;
	margin-top: 10px;
	width: 80px;
	margin-left: 20px;
	cursor: pointer;
}
.spn1{
	width: 40px;
	height:5px;
	margin-top: 5px;
	margin-left: 20px;
	background-color: white;
    display: block;
    cursor: pointer;

}
#menu-icon{
	display: none;
}

#menu-icon:checked ~ nav ul{
    left: 0%;
}

nav{
	display: flex;
	flex-flow: wrap;
	flex-direction:column;
	width: 100%;
	height: 100px;
	margin-top:5px;
	cursor: pointer;
	
}


nav ul{
     left: -100%;
	 display: flex;
	 position:fixed;
	 flex-direction: row;
	 flex-flow: wrap;	 
	 list-style: none;
	 padding-left: 500px;
	 transition: all 2s ease;
	 margin-left: 20%;
}


nav ul li {
	font-size: 25px;
	padding-left: 20px;
}



nav ul li a:hover{
	color:white;
	transition: all ease 0.5s;
}

nav ul li a{
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	color:red;
	text-decoration: none;

}

.admin{
	margin: 100px 0 0;
	color:white;

}
.admin img{
	width: 280px;
	height: 310px;
	border-radius:50%;
	box-shadow:0 0 0 1rem rgba(257,257,257, .3);
    margin: 0rem 0rem 4rem 4rem;
    margin-left:60px;
}

.admin-1{
	margin-top: -400px;
	margin-left: 650px;
	font-size: 30px;
	color:black;

}

.admin-1 h1{
	font-size: 50px;
	margin:10px 0px;
		color:#000080;
}

.admin-1 p{
	font-size: 25px;
}

.admin-1 p span{
	font-size: 30px;
    color:brown;
}


.share {
	width:100%;
	height:50px;
	display: flex;
	float: right;

}
.share ul{
display: flex;
flex-flow: wrap;
flex-direction: row;
list-style: none;
margin-left: 1100px;
margin-top:-65px; 
padding-left: 10px;
}
.share ul li {
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	padding-left: 10px;
}
.share ul li a{
	*/(Fb, facebook, facebook logo icon - Free download, n.d.)*/
}

button{
	width: 100px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	background-color:#fff;
	margin-left:800px;
	color:black;
	border-radius:30px;
	cursor: pointer;
	transition: transform .4s;
	box-shadow:0 0 4px white, 0 0 11px white, 0 0 14px white;
	margin-top: 20px;
}

button:hover{
    text-decoration:none;
    border:2px solid transparent;
    border-radius:30px
}

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
 
.contact-me {
    width: 100%;
	display: flex;
	align-items: center;
	flex-direction:column;
}

.get-me{
	display: flex;
	justify-content: center;
}

.contact-info{
	color:orangered;
	max-width: 100%;
	line-height: 30px;
	padding-left: 70px;
	font-size: 20px;
	margin-top: 260px;
}


.get-me h2{
	font-size:40px;
	 padding-left:100px;
	margin-top: 10px;
}

.get-me form{
	background:rgba(256,256,256, .1);
	box-shadow: 0 1.1rem 2.1rem rgba(0,0,0,.2);
	border-radius: 1rem;
	display: flex;
	justify-content: space-between;
	padding:1.2rem 2.1rem;
	flex-wrap: wrap;
	align-items: center;


}

.get-me form .box{
	border-radius:0.5rem;
	padding:0 0rem;
	margin:0.1rem 5rem;
	height:3rem;
	width:50%;
	font-size:2rem;
	color:black;
	align-items: center;
}

.get-me form .box::placeholder{
	text-transform:capitalize;
	color:purple;
	font-size: 1.2rem;

}


.btn{
	color: white;
	background: blue;
	display:block;
	font-size: 1.2rem;
	letter-spacing: 2px;
	cursor: pointer;
	border:none;
	width: 18%;
	text-transform: uppercase;
}
.btn:hover{
	text-decoration:none;
    border:2px ;
    border-radius:20px;
    background-attachment: fixed;
}






.portfolio {
	background-image:url(4.jpg);
}
.portfolio h2 {
	font-size:3rem;
	padding-left:100px;
	color: blue;
	margin-top: 10px;
}

.portfolio h2 span{
	color:white;
}


.portfolio .image-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.portfolio .image-container .box{
	width:23rem;
	margin: 1rem;
	border-radius: .6rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
	overflow: hidden;
	height: 14rem;
	position: relative;
	border:1.1rem solid;
	cursor: pointer;
}

.portfolio .image-container .box img{
	height: 100%;
	width:100%;


}


.portfolio .image-container .box:hover img{
    transform: scale(1.1);
}



.body23{
	background-color:darkgrey;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.cv-box{
	width: 80%;
	height: 100%;
	background-color: whitesmoke;
	margin-left: 10%;
    margin-top: 70px;
}

.box-a{
	width: 100%;
	height: 100%;
}

.box-a img{
	text-align: center;
	margin-top: 15px;
	width: 30%;
	height: 30%;
	
}
.content2 h1{
	border-bottom: 2px solid black;
	margin-top: 10px;

}
.content2 p{
	font-size: 18px;
	margin-top: 10px;
}
.skill h1{
	border-bottom: 2px solid black;
	margin-top: 10px;
	color: blue;
}
.skill p{
	margin-top: 5px;
	font-size: 15px;
}
.contact-1 h1{
	border-bottom: 2px solid black;
	margin-top: 10px;
	color: blue;

}
.contact-1 p{
	margin-top: 5px;
	font-size: 15px;
}
.experience h1{
	border-bottom: 2px solid black;
	margin-top: 10px;
	color: blue;
}
.experience p{
	font-size: 18px;
	margin-top: 10px;
}
.box-b {
	margin-top: 10px;
}
.education h1{
	width: 100%;
	border-bottom: 2px solid black;
	color: blue;
}
.education h5, p{
	margin-top: 5px;
	font-size: 18px;
	margin-left: 10px;
}

.hobbies h1{
	width: 100%;
	border-bottom: 2px solid black;
	color: blue;
}
.hobbies{
	font-size: 18px;
	margin-top: 5px; 
	margin-left: 10px;
}

.box-c{
	height: 100%;
	width: 80%;
	background-color: whitesmoke;
	margin-left: 10%;
    margin-top: 70px;
}

.box-c h1{
	font-size:2rem;
	margin-top: 20px;
	align-items: center;
	
}
.sitereport h1{
	margin-bottom: 10px;
	text-align: center;
	border-bottom: 10px solid green;
}
.site1 h1{
	text-align: center;
    color:blue;
}
.site1 h3{
	border-top: 10px solid crimson;
	padding-left:5px;
	margin-top: 5px;
	color:green;
}
.site1 img{
	width:47%;
	height:37%;
	margin-bottom:10px;
	margin-top: 10px;
    padding-left: 50px;
	align-items: center;
}

.validation img{
	margin-top:10px;
	padding-left:100px;
	width:90%;
	height: 80%;
}
.validation h1{
 text-align: center;
 border-bottom: 10px solid pink;

}
.validation h5{
	padding-left: 10px;
	margin-top: 10px;
}

.reference h1{
	text-align: center;
	color: purple;
}
.reference h2{
	text-align: center;
	background-color: crimson;
}
.reference p{
	text-align: center;
	font-size: 20px;
	
}

.reference ul li{
	list-style: none;
	margin: 20px;
}

ul li a img{
	height:40px;
	width: 40px;
}










 @media only screen and (max-width: 1100px) and (min-width: 750px){
 	nav{
 		width: 100%;
 	}
 	nav ul{
 		flex-direction: row;
 		flex-wrap: nowrap;
 		width: 100%;
 		margin-left: -350px;

 	}

 	
 	.admin-1{
 		margin-left: 400px;
 		margin-top: -300px;
 	}
 	.admin-1 h1{
 		font-size: 24px;
 		text-align: center;
 	}
 	.admin-1 p{
 		font-size: 20px;
 		text-align: center;
 	}
 	.c-btn{
 		margin-left:  67%;
 	}
 	.share{
 		width: 100%;
 	}
 	.share ul{
 		margin-left: 70%;
 	}
 }
 	
 	
 @media only screen and (max-width:750px) and (min-width:360px){
 	nav ul{
 		margin-left: -80%;
 		display: block;
 	}
 	nav ul li a {
 		padding-top: 10px;
 	}
 	
    .admin img{
    	margin-left:41px;
    	margin-top:130px;
    }
 	.admin-1{
 		margin-left:8px;
 		margin-top: -5px;
 	}
 	.admin-1 h1{
 		font-size: 18px;
 		text-align: center;
 		color:white;
 	}
 	.admin-1 p{
 		font-size: 14px;
 		text-align: center;
 		color:yellow;
 	}
 	.c-btn{
 		margin-left: 40%;
 	}
 	.share{
 		display: inline-block;

 	}
 	.share ul{
 		margin-left: 25%;
 		margin-top:7px;
 	}
 	
 	.contact-info{
 		font-size: 12px;
 		margin-left:13%;
 		margin-top: 80px;
 		align-items: center;
 	}

 	.portfolio h2{
    	margin-top:130px;
 	}

 	.get-me{
 		margin-top: 130px;
 	}
 	.cv-box{
 		margin-top:130px;
 	}
 	.sitereport{
 		margin-top:130px;
 	}
 	#menu-icon:checked ~ nav ul{
    left: 0%;
    margin-left: -85%;
}




}







